<html lang="en">

<head>
  <meta charset="UTF-8">
  <meta name="viewport" content="width=device-width, initial-scale=1.0">
  <title>Blog Ninja| <%= title %></title>
</head>

<body>
  <nav>
    <div class="site-title">
      <a href="/">
        <h1>BlogSpace</h1>
      </a>
      <p>A Site by Nathan </p>
    </div>
    <ul>
      <li><a href="/"></a>Blogs</li>
      <li><a href="/about">About</a></li>
      <li><a href="/blogs/create">New Blog</a></li>
    </ul>
  </nav>

  <div class="about content">
    <h2>About us</h2>
    <p>Lorem ipsum dolor sit amet, consectet</p>
    <p>Lorem ipsum dolor sit amet, consectet</p>
    <p>Lorem ipsum dolor sit amet, consectet</p>
  </div>
</body>

</html>